body{
	font-family : Papyrus,fantasy;
}


h2{
	font-size: 1,5em;
}
.GT{ 
	color: white;
	border: solid 3px black;
	background-color:gray;
	text-align: center;
	height: 90px;
}

.A{
	background: #C2C2C3 ;
	color: black ;
	text-align: center;
	border: solid 3px black;
}


a{
	text-decoration:none;
	color: black;
	font-size: 1em;
	font-weight:bolder;
	
}

p a{
	text-decoration:none;
	color: black;
	font-size: 2em;
	font-weight:bolder;
	
}

p a:hover{
	font-size: 3em;
}

img{
	width:95%;
	max-width: 500px;
	
}


/*Pour les flex box */

.Box{
	display: flex;
	flex-flow: row wrap;
}

.B{
	flex: 1 1 auto;
}

.C{ 
	flex: 1 1 500px
}

.D{
	flex: 1 1 300px
}

.E{ 
	flex: 2 1 500px
}

.Titre_h1{
	flex: 80 1 auto;
}


/* Centré les liste */

ul , ol
{
    list-style-position : inside;
    margin-left: auto;
    margin-right: auto;
    width : 95%;
}

ul li , ol li
{
    margin : auto;
    text-align : left;
}

/*Pour les button*/

.Button{
	flex: 1 1 auto;
	height: 90px;
}

.fond_noir{
	background-color: black;
}

.fond_orange{
	background-color: #FF4200;
}

